link(rel="stylesheet" type="text/css" href="tabby-master/dist/css/tabby-ui.min.css")
link(rel="stylesheet" type="text/css" href="style/controller.css")
div.controllerWindow

	ul(data-tabs)
		each val,i in data.bp.index
			li 
				a(href='#breakPoint'+(i+1))='break point '+(i+1)
	each val,i in data.bp.index
		div(id='breakPoint'+(i+1))
			if data.bp.index[i].min&&data.bp.index[i].max
				h2=data.bp.index[i].min+' - '+data.bp.index[i].max
			else
				h2=data.bp.index[i].min?data.bp.index[i].min:''+data.bp.index[i].max?data.bp.index[i].max:''

script.
	const tabs = new Tabby('[data-tabs]');