link(rel="stylesheet" type="text/css" href="tabby-master/dist/css/tabby-ui.min.css")
link(rel="stylesheet" type="text/css" href="style/controller.css")
div.controllerWindow

	ul(data-tabs)
		each val,i in bp.index
			li 
				a(href='#breakPoint'+(i+1))='break point '+(i+1)
	each val,i in bp.index
		div(id='breakPoint'+(i+1))
			if bp.index[i].min&&bp.index[i].max
				h2=bp.index[i].min+' - '+bp.index[i].max
			else
				h2=bp.index[i].min?bp.index[i].min:''+bp.index[i].max?bp.index[i].max:''
			
script.
	const tabs = new Tabby('[data-tabs]');